<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bginnovate.plugin.inappbrowser" >

    <application>
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout"
            android:name=".InAppBrowserActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
    </application>

</manifest>